.visually-hidden {
	position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
}

.form {
	border: 1px solid black;
	min-width: 1200px;
}

.form__questions {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.form__question-wrapper {
	display: flex;

	border-bottom: 1px solid black;
}

.form__question {
	width: 55%;
	min-width: 450px;
}

.form__answers {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;

	display: flex;
	width: 45%;
	min-width: 600px;

	list-style: none;
}

.form__answer {
	display: flex;
}

.radiobutton-label {
	border-left: 1px solid black;
	text-align: center;
	align-content: center;
}

input[type=radio]:checked+.radiobutton-label {
	background-color: #9FEF65;
}

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 10%;
	width: 80%;
	min-width: 900px;
	height: 100%;
	border: 1px solid black;
	background-color: white;
}

.popup__title {
	text-align: center;
}

.popup__table {
	width: 70%;
	min-width: 800px;
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
}

.popup__table th:nth-child(2) {
	min-width: 330px;
}

.popup__table td {
	border: 1px solid black;
}

.popup__close {
	position: absolute;
	top: 0;
	right: 0;
}
